

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>FbGraphSample</title>
    <meta property="fb:app_id" content="<%= Facebook.config[:client_id] %>">
    <!--[if IE]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'base', 'layout', controller_name %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>

  </head>
  <body>
    <div id="fb-root" class="container">
      <div class="main">
        <%= yield %>
      </div>
    </div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= Facebook.config[:client_id] %>', // App ID
      channelURL : '//gentle-spring-1752.heroku.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      oauth      : true, // enable OAuth 2.0
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
  </script>
  </body>
</html>